extends baseEmail 

block content 
                            
  h3 Hi #{firstName},
  
  h1 Your order details 
  p ...
  h1 #{firstName}
  h2 #{products}
  p ...
  h2 #{address}
  h3 Order is paid? #{paid}
  p Shipping #{shippingPrice}
  p Tax #{taxPrice}
  p Total #{totalPrice}
  p #{orderId}
 

  h3 Thank you for shopping with us!

  //- table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
  //-   tbody
  //-     tr
  //-       td(align='left')
  //-         table(role='presentation', border='0', cellpadding='0', cellspacing='0')
  //-           tbody
  //-             tr
  //-               td
  //-                 a(href=`${url}`, target='_blank') Reset your password
  //- p If you didn't forget your password, please ignore this email!
  
